.center{
    display: flex;
    justify-content: center;
}

.container{
    background-color:rgb(129, 196, 196);
    /* backdrop-filter: blur(1000px); */
    border: solid 5px transparent;
    margin-top: 1vh;
    height: 98vh;
    width: 70vh;
    border-radius: 5vh;
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(65, 62, 62);
    box-shadow: 15px 15px 5px #ccc;
}

.container div{
    width: 100%;
}

.taskview{
    margin-top: 10%;
}

.container div fa-icon:hover{
    cursor: pointer;
}



