.center{
    display: flex;
    justify-content: center;
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.login p{
    font-size:5vh;
    font-weight: bold;
}

.loginwithgoogle{
    width: 50vh;
    border: solid 5px #ccc;
    border-radius: 20px;
    cursor: pointer;
}

.logout{
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(65, 62, 62);
    border: solid 5px #ccc;
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
}