<div class="center">
<div *ngIf="auth.user | async as user; else showLogin">
    <h1>{{ user.displayName }}</h1>
    <button class="logout" (click)="logout()">Logout</button>
    <app-dashboard></app-dashboard>
  </div>
  <ng-template #showLogin>
      <div class="login">
          <p>Please login.</p>
          <img [src]="loginwithgoogle"  class="loginwith" alt="Login with Google" (click)="loginWithGoogle()">
          <img [src]="loginwithfb"  class="loginwith" alt="Login with Facebook" (click)="loginWithFB()">
          <img [src]="loginwithtwitter"  class="loginwith" alt="Login with Twitter" (click)="loginWithTwitter()">
      </div>
  </ng-template>
</div>