input{
    padding: 10px;
    margin: 5px;
    width: 80%;
    border: none;
    border-radius: 20px;
    outline: none;
}
input:first-child{
    margin-top: 5vh;
}

button{
    border: none;
    padding: 10px;
    border-radius: 30px;
    transition: 0.5s;
    
}
button:hover{
    transform: scale(1.2);
    background-color: #ccc;
    cursor: pointer;
}